html {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
}

#msg-container {
  height: 60vh;
  overflow-y: auto;
}

#msg-container article {
  height: 6rem;
  border: solid black 1px;
}

#msg-container article header {
  font-weight: bold;
  background-color: chartreuse;
}

#msg-container article main {
  text-indent: 1rem;
  overflow-y: auto;
}